h5py
imagesize
matplotlib
numpy
oasis-deconv
opencv-python
pandas
python-magic
pyplot-themes @ git+https://github.com/idroz/pyplot-themes@e6e8ff
scanimage-tiff-reader
scipy
scikit-image  # skimage
scikit-learn  # sklearn
# seaborn
suite2p
tifffile
